#input1, #input2 {
    border-radius: 15px;
    width: 500px;
    height: 50px;
}
@import "compass/css3";

input[type=text] {
  @include transition(all 0.30s ease-in-out);
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus {
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid rgb(238, 81, 81);
}

label {
  width: 150px;
  font-size: 20px;
}

body {
  padding: 20px;
}
#button {
    background-color:gold;
    width: 110;
    height: 25;
    border-radius: 4px;
    
}